@charset "utf-8";

body {font:12px tahoma; color: #000; background: #fff;}

#topo {width: 100%; float: left; }
#conteudo {width: 100%; float: left;}
    #conteudo p.texto {padding: 10px; background: #ccc; margin:5px 0 0 0;}
#rodape {width: 100%; height:35px; float: left; background-color: #2272BE; border-top: 2px solid #fff;}
    #rodape a {padding: 10px; float: right; text-transform: uppercase; color:#fff; background: #374FA1;}

/* CSS PARA O INC-TOPO.PHP */

#logomarca {width: 260px; height: 65px; float: left; margin: 15px;}

#box-menu {width: 100%; height: 35px; margin: 11px 0 0 0; background-color: #2272BE; float: left; border-bottom: 2px solid #fff;}
    #box-menu ul#menu {position: relative;}
        #box-menu ul#menu li {height: 35px; float: left; margin: 0 15px 0 0; text-align: center;}
            #box-menu ul#menu li a {display: block; text-decoration: none; padding:9px 10px 10px 10px; color: #fff; text-transform: uppercase;}
                #box-menu ul#menu li:hover {background-color: #374FA1;}
                    #box-menu ul#menu li:hover a {color: #fff;}
                #box-menu ul#menu li:hover ul.submenu {display: block !important;}
            
            #box-menu ul#menu li ul.submenu {background-color:#374FA1; position: absolute; width: 160px;}
            #box-menu ul#menu li ul.submenu.submenuMaior {width: 220px;}
            #box-menu ul#menu li ul.submenu li {width:100%; float:left; margin: 0 !important; padding: 0 !important; text-align: left;}
                #box-menu ul#menu li ul.submenu li a {background-color: none !important; font-size:11px;}
                    #box-menu ul#menu li ul.submenu li a:hover {text-decoration: underline;}
                
    .btnNovo {width: 78px; height: 25px; float: right; padding: 10px 0 0 0; cursor: pointer; position: relative; text-align: center; border-right: 1px solid #374FA1; border-left: 1px solid #374FA1; background-color: #374FA1;}
        .btnNovo:hover {background-color: #374FA1;}
        .btnNovo a {color: #fff; font-size: 12px; text-transform: uppercase; text-decoration: none; }
        .btnNovo ul#submenuBtnNovo {width: 100px; position: absolute; background-color:#374FA1; top: 35px; left: -1px; }
            .btnNovo ul#submenuBtnNovo li {width: 100%; float: left; text-align: left;}                
                .btnNovo ul#submenuBtnNovo li a {padding:5px 10px; display: block; text-decoration: none; text-transform: capitalize; color: #fff; font: 12px tahoma;}
                    .btnNovo ul#submenuBtnNovo li a:hover {text-decoration: underline;}
                    
#box-icones {width: 100%; height: 308px; float: left; background: #f2f2f2;}
    #logomarca-cliente {width: 343px; height: 75px; float: left; margin: 105px 40px 0 0;}
    #box-saudacao-titulo {width: 400px; float: right; margin: 40px 45px 0 0;}
        #box-saudacao-titulo p.txt-saudacao,#box-saudacao-titulo a.txt-saudacao  {font-size:15px; color: #136994;}
        #box-saudacao-titulo h1.tituloGerenciador {font-size:25px; color: #136994; text-transform: uppercase;}
        
    #lista-icones {width: 510px; float: right; margin: 30px 0 0 0; }
        #lista-icones a {width: 128px; height: 155px; float: right; margin: 0 40px 0 0; }            
            

/* FIM CSS PARA O INC-TOPO.PHP */

/* CSS PARA A PÁGINA INDEX.PHP - FORM LOGIN */

#logo {width: 350px; height: 94px; margin: 25px auto;}
#formLogin {width: 216px; height:200px; margin: 10px auto; padding: 0 10px; background: #fff; display: table;} 
    #formLogin form label {float: left; margin: 10px 0 0 0; width: 216px;}

    #loginSistema {width: 216px; margin: 10px auto; display: table; }
        #loginSistema p {padding: 0 0 5px 0; border-bottom: 1px dashed black;}

    .drweb {width: 30px; height: 35px; position: absolute; right: 10px; bottom: 10px; }


/* FIM CSS PARA INDEX.PHP - FORM LOGIN */

/* CSS PARA HOME.PHP */



/* FIM CSS PARA HOME.PHP */

/* CSS PARA LISTAGEM-DICA.PHP */

#dica-nao-cadastrada {display: none;}

/* CSS PARA FORM-EDITAR-ADMINISTRADOR.PHP */

#mudaSenha {width: 500px; float:left; margin: 10px 0 0 10px;}

/* FIM CSS PARA FORM-EDITAR-ADMINISTRADOR.PHP */

/* CSS PARA FORM */

    label {float: left; margin: 10px; height: 35px;}
    label.labelTextarea {height: 145px !important;}
    input[type=text] {width: 200px; height: 20px; margin: 0 5px 0 0; padding: 0 0 0 5px; border: 1px solid #ccc; font-size:11px; color: #000;}
    input[type=file] {width: 250px; height: 20px; padding: 0 0 0 5px;  font-size:11px; color: #000;}
    input[type=password] {width: 200px; height: 20px; padding: 0 0 0 5px; border: 1px solid #ccc; font-size:11px; color: #000;}
    label textarea {width: 660px; height: 120px; padding: 5px 0 0 5px; border: 1px solid #ccc; font-size:11px; color: #000;}
    label select {width: 208px; height: 23px; border: 1px solid #ccc; font-size:11px; color: #000;}
    .estiloBtn {float: left; clear: both; margin: 10px;}

/* FIM CSS PARA FORM */

/* CSS PARA FORMULÁRIO DE EDIÇÃO DE REGISTROS */

#box-info-edicao {width: 600px;}

#box-arquivo-edicao {max-width:260px; margin:10px 10px 0 0; padding:10px; background-color:#f2f2f2; border:1px solid #ccc;}
    #box-arquivo-edicao h1 {width: 100%; float: left; padding: 0 0 5px 0; border-bottom: 1px solid #ccc;}
    #box-arquivo-edicao p {font: 12px tahoma; color: #000;}

#box-titulo-arquivo {width: 230px; min-height: 25px; margin: 10px 0 0 0; padding: 7px 0 0 30px; background: url(../imagens/icone-pdf.png) no-repeat left top;}
    
    #box-titulo-arquivo a {font: 12px tahoma; color: #000; text-decoration: underline;}

#box-novo-arquivo {width: 100%; margin: 5px 0 0 0; position: relative;}

    
    
    #labelArquivo {width: 245px; height: 25px; margin: 10px 0 !important; color: #000; position: relative; overflow: hidden; border: 1px solid #ccc; background: #fff;}
    #txt-arquivo {text-transform: uppercase; font: 11px tahoma !important; display: block; position: absolute; margin: 5px 0 0 5px;}

#info {width: 100%; margin: 10px 0 0 0;}
    #info p {font: 11px tahoma;}  

/* FIM CSS PARA FORMULÁRIO ... */

/* CSS PARA AS CLASSES EM GERAL */
    label.error {
	/* supply height to ensure consistent positioning for every browser */
	color: red;
        font: 11px tahoma;                        
        margin: 0 !important; 
        display: block;
        float: none;
    }

    input.error {border: 1px solid red;}
    textarea.error {border: 1px solid red;}
    select.error {border: 1px solid red;}
    .none {display: none;}
    .inputPass {background: none; border: none;}
    .limite {width:960px; margin: 0 auto; display: table;}
    /*.txt-padrao {font:12px 'FuturaMdBTMedium'; color:#990000; text-transform: uppercase; text-decoration: underline;}    */
    .tituloSecao {font:14px tahoma; color: #fff; text-transform: uppercase; text-decoration: none;}
    .m0 {margin: 0;}    

    .sucesso {background-color:#408A51;}
    .erro {background-color:#B22426;}
    .camposObrigatorios {clear: both; margin: 10px 0 0 10px; padding: 0 0 10px 0; height: 15px; color: red;}
    .left {float: left;}
    .right {float: right;}
    .clear {clear: both;}
    .btnMais {margin: 0 0 0 5px; cursor: pointer;}
    .inputAdd {display: inline; margin:5px 10px 0 0 !important;}
    .semBg {background: none !important;}
    .semPadding {padding-left: 0 !important;}

/* FIM CSS PARA AS CLASSES EM GERAL */

/* ID'S GENÉRICOS */

#box-titulo-secao {width: 100%; height: 35px; float: left; background-color: #2272BE; position: relative; border-top: 2px solid #fff;}
#box-titulo-secao h1 {float: left; margin: 10px 0 0 10px;}
#box-titulo-secao a {font:14px tahoma; color: #fff; text-decoration: underline; position: absolute; right: 10px; top: 8px; z-index: 100000; cursor: pointer;}

#box-mensagem {width: 950px; float:left; padding: 5px; margin: 10px 0 0 0;}
    #box-mensagem p {color: #fff; margin: 0 !important; }

#box-mensagem-index {width:270px; float: left; padding: 5px; margin:10px 0;}
    #box-mensagem-index p {color: #fff; margin: 0 !important;}

/* FIM ID'S GENÉRICOS */